
#buscador {
   width: 350px;
   background-color: white;
   border: 2px solid #0000f0;
   border-radius: 6px;
}

#buscador form {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#buscador input[type="text"] {
   width: 100%;
   font-family: 'Roboto Condensed';
   font-style: italic;
   font-size: 20px;
   border-radius: 6px;
   padding: 6px 10px;
   border: none;
   outline: none;
}

#buscador button {
   border: none;
   border-left: 1px solid #e0e0e0;
   background-color: white;
   font-size: 22px;
   padding: 6px 10px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   cursor: pointer;
   transition: 0.3s;
}

#buscador button:hover {
   background-color: #b0f0f0;
}

.create-book {
   width: 80px;
   text-decoration: none;
   background-color: #e8ffff;
   border: 2px solid #0000f0;
   border-radius: 6px;
   padding: 8px;
   margin: 0 auto;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   transition: 0.3s;
}

.front-end {
   width: 150px;
   text-decoration: none;
   background-color: #e8ffff;
   border: 2px solid #0000f0;
   border-radius: 6px;
   padding: 8px;
   margin: 0 auto;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   transition: 0.3s;
}

#encabezado-admin {
  background-color: #02137A;
  color: White;

}

#encabezado-admin h1 {
  font-family: 'Lobster', cursive;
  font-size: 72px;
  color: white;
  text-align: center;
  padding-top: 8px;
  }

#encabezado-admin h3 {
  font-family: 'Mali';
  font-weight: normal;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.titulo-list-admin p {
  margin-top: 10px;
  text-align: center;
    font-family: 'Mali';
    font-weight: normal;
    font-size: 40px;
    color: #304878;
}

.items-list-admin ul {
  display: flex;
  list-style-type: none;
  font-family: 'Mali';
  font-size: 24px;
  color: #304878;
}

.items-list-admin ul li {
  width: 150px;
  color: #304878;
  text-decoration: none;
  background-color: #e8ffff;
  border: 2px solid #304878;
  border-radius: 6px;
  padding: 8px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.list-book-admin {
  margin-left: 10%;
}
.list-book-admin p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
    font-family: 'Mali';
    font-weight: normal;
    font-size: 25px;
    color: #304878;
}

.list-book-admin ul {
  list-style-type: none;
  font-family: 'Mali';
  font-size: 18px;
  color: #304878;
}

.list-book-admin ul li {
  list-style-type: disc;
}

.list-book-admin ul li a {
  text-decoration: none;
  font-family: 'Mali';
  font-size: 18px;
  color: #304878;
}
.pagination  {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  list-style-type: none;
  margin-left: 5%;
}

.pagination .page-link li a {
  text-decoration: none;
  font-family: 'Mali';
  font-size: 22px;
  color: #304878;
}
