.panel-admin p, .create-title {
    margin-top: 10px;
  text-align: center;
    font-family: 'Mali';
    font-weight: normal;
    font-size: 40px;
    color: #304878;
}

.items-panel-admin ul {
  display: flex;
  list-style-type: none;
  font-family: 'Mali';
  font-size: 24px;
  color: #304878;
}

.items-panel-admin ul li {
  width: 150px;
  color: #304878;
  text-decoration: none;
  background-color: #e8ffff;
  border: 2px solid #304878;
  border-radius: 6px;
  padding: 8px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.list-book-admin {
  margin-left: 10%;
}
.list-book-admin p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
    font-family: 'Mali';
    font-weight: normal;
    font-size: 25px;
    color: #304878;
}

.list-book-admin ul {
  list-style-type: none;
  font-family: 'Mali';
  font-size: 18px;
  color: #304878;
}

.list-book-admin ul li {
  list-style-type: disc;
}

.list-book-admin ul li a {
  text-decoration: none;
  font-family: 'Mali';
  font-size: 18px;
  color: #304878;
}


.pagination  {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  list-style-type: none;
  margin-left: 5%;
}

.pagination .page-link li a {
  text-decoration: none;
  font-family: 'Mali';
  font-size: 22px;
  color: #304878;
}

.fondo-create-form {
  background-color: rgba(10, 10, 183, 0.5);
  border: 2px solid #0000f0;
  border-radius: 6px;
}
