#contenedor {
  background-image: url('../img/retina_wood_@2X.png');
}

.cart-container {
  font-family: Mali;
  text-align: center;
  margin: 40px auto;
  width: 350px;
}

.purchase-container {
  font-family: Mali;
  text-align: center;
  margin: 40px auto;
  width: 350px;
}

.cart-container h2 {
  text-align: left;
  font-size: 30px;
  margin-left: 16px;
  margin-bottom: 30px;
}

.purchase-container h2 {
  text-align: left;
  font-size: 26px;
  margin-left: 16px;
  margin-bottom: 30px;
}

.cart-container h4 {
  margin-bottom: 8px;
}

.purchase-container h4 {
  margin-bottom: 8px;
}

.cart-row {
  overflow: hidden;
  border-bottom: 1px solid #a0a0c0;
  margin-bottom: 20px;
}

.cart-col {
  overflow: hidden;
  float: left;
}

.cart-header {
  display: none;
  overflow: hidden;
  padding: 5px 0 0 0;
  background-color: rgba(240, 240, 220, 0.6);
  color: #806000;
  border-bottom: 1px solid #e0e0f0;
  margin-bottom: 20px;
}

.purchase-header {
  display: none;
  overflow: hidden;
  padding: 5px 0 0 0;
  background-color: rgba(240, 240, 220, 0.6);
  color: #806000;
  border-bottom: 1px solid #e0e0f0;
  margin-bottom: 20px;
}

.cart-footer {
  text-align: center;
  padding: 8px 16px;
  border: 2px solid #e0c0a0;
  border-radius: 6px;
  background-color: rgba(240, 240, 220, 0.4);
}

.botones-favoritos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cart-buttons {
  overflow: hidden;
  padding: 20px 0;
}

.cart-buttons .buy-button,
.cart-buttons .update-button {
  display: block;
  padding: 6px 20px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.cart-buttons .buy-button {
  background-color: #00a800;
}

.cart-buttons .update-button {
  background-color: #787878;
}

.cart-buttons .buy-button:hover {
  background-color: #00d000;
}

.cart-buttons .update-button:hover {
  background-color: #a0a0a0;
}

.item-date,
.item-invoice,
.item-image,
.item-title,
.item-price,
.item-qty,
.item-subtotal,
.item-remove,
.purch-search {
  float: left;
}


.row-height {
  height: 180px;
}

.row-height-sm {
  height: 60px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-image {
  width: 150px;
}

.item-date,
.item-invoice {
  width: 120px;
}

.item-image img {
  height: 180px;
}

.item-title {
  width: 200px;
  text-align: left;
  padding-left: 10px;
}

.item-price,
.item-qty,
.item-remove,
.purch-search {
  width: 100px;
}

.item-qty {
  align-items: center;
}

.item-qty input {
  font-family: Mali;
  font-size: 18px;
  padding: 2px;
  text-align: right;
  width: 60px;
}

.item-subtotal {
  display: none;
  width: 150px;
}

.item-remove a, .purch-search a, .back-home a {
  text-decoration: none;
  padding: 6px 12px;
  background-color: #304878;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}




.purch-search a, .back-home a {
  margin-bottom: 5px;
}
.item-remove a:hover, .purch-search a:hover, .back-home a:hover {
  background-color: #0090ff;
}

.empty-cart {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.empty-cart img {
  width: 240px;
}

.empty-cart .leyenda-1 {
  font-family: Mali;
  font-size: 24px;
}

.empty-cart .leyenda-2 {
  font-family: Mali;
  font-size: 20px;
}

.empty-cart .browse-button {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-top: 12px;
  background-color: #304878;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

.empty-cart .browse-button:hover {
  background-color: #0090ff;
}



@media (min-width: 768px)
{
  .cart-container {
    width: 750px;
  }

  .purchase-container {
    width: 600px;
  }

  .cart-header {
    display: block;
  }
  .purchase-header {
    display: block;
  }

  .item-image {
    margin-bottom: 20px;
  }

  .display-style {
    display: none;
  }

  .cart-buttons .buy-button {
    float: left;
  }

  .cart-buttons .update-button {
    float: right;
  }
}

/* para tablets */
@media only screen and (max-width: 768px) and (min-width: 420px)
{
}


/* para celulares */
@media only screen and (max-width: 420px)
{
  .cart-container h2 {
    font-size: 20px;
  }
  .purchase-container h2 {
    font-size: 20px;
  }
  .purchase-header {
    padding: 5px 0 0 0;
    background-color: rgba(240, 240, 220, 0.6);
    color: #806000;
    border-bottom: 1px solid #e0e0f0;
    margin-bottom: 20px;
  }
  .purchase-header {
    display: block;
  }
  .item-qty-purch, .item-subtotal-purch {
    display: none;
  }
  .botones-favoritos {
    display: block;
  }
  .item-title {
    width: 150px;
  }
  .item-price {
    width: 80px;
    font-size: 14px;
  }



}
