#contenedor {
  background-image: url('../img/retina_wood_@2X.png');
}

.purchase-container {
  font-family: Mali;
  text-align: center;
  margin: 40px auto;
  width: 800px;
}

.purchase-container h2 {
  text-align: left;
  font-size: 30px;
  margin-left: 16px;
  margin-bottom: 30px;
}

.purchase-container h4 {
  margin-bottom: 8px;
}

.purchase-row {
  overflow: hidden;
  border-bottom: 1px solid #a0a0c0;
  margin-bottom: 20px;
}

.purchase-col {
  overflow: hidden;
  float: left;
}

.purchase-header {
  display: none;
  overflow: hidden;
  padding: 5px 0 0 0;
  background-color: rgba(240, 240, 220, 0.6);
  color: #806000;
  border-bottom: 1px solid #e0e0f0;
  margin-bottom: 20px;
}

.item-image,
.item-title,
.item-price,
.item-qty,
.item-subtotal,
.item-remove {
  float: left;
}

.row-height {
  height: 60px;
}

.row-height-sm {
  height: 60px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-date,
.item-invoice,
.item-qty,
.item-subtotal {
  width: 100px;
  align-items: center;
}


@media screen and (min-width: 600px)
{
  .cart-container {
    width: 600px;
  }

  .cart-header {
    display: block;
  }

  .item-image {
    margin-bottom: 20px;
  }

  .display-style {
    display: none;
  }

  .cart-buttons .buy-button {
    float: left;
  }

  .cart-buttons .update-button {
    float: right;
  }
}

@media screen and (min-width: 900px)
{
  .purchase-container {
    width: 800px;
  }

  .item-subtotal {
    display: flex;
  }

  .row-height-sm {
    height: 180px;
  }

  .display-style {
    display: block;
  }
}
