#panel-form {
  padding: 20px;
  margin: 40px 10px;
  max-width: 600px;
  background-color: rgba(0, 24, 48, 0.2);
  border-radius: 6px;
}

.fondoLogYReg {
  background-image: url(../img/retina_wood_@2X.png);
  display: flex;
  justify-content: center;
}

.login {
  width: 100%;
}

.login fieldset,
.registration fieldset {
  text-decoration: none;
  font-family: 'Roboto Condensed', serif;
  font-size: 24px;
  width: 90%;
  color: #676745;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 10px;
  border-left: none;
  border-right: none;
}

.login fieldset legend,
.registration fieldset legend {
  color: #202020;
}

.login fieldset p label,
.registration fieldset p label,
.terminos,
.sexo_fem,
.sexo_masc,
label[for="avatar_button"] {
  font-size: 18px;
  color: #202020;
}

.sexo_masc {
  margin-bottom: 6px;
}

.login fieldset p input,
.registration fieldset p input,
.registration fieldset p select {
  margin: 0 auto 10px auto;
  width: 100%;
  border: none;
  border-bottom: 2px solid #800000;
  background-color: transparent;
  outline: none;
  font-family: 'Roboto Condensed', serif;
  font-size: 30px;
  color: #0000c0;
}

.login fieldset p input[type="submit"],
.registration fieldset p input[type="submit"] {
  margin-top: 20px;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  background-color: #0000c0;
  color: white;
  width: auto;
  font-size: 26px;
  cursor: pointer;
}

.login fieldset p input[type="reset"],
.registration fieldset p input[type="reset"] {
  margin-top: 20px;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  width: auto;
  font-size: 26px;
  background-color: #d0d0d0;
  cursor: pointer;
}

.login fieldset p input[type="submit"]:hover,
.registration fieldset p input[type="submit"]:hover {
  background-color: #0090ff;
  color: white;
}

.login fieldset p input[type="reset"]:hover,
.registration fieldset p input[type="reset"]:hover {
  background-color: #c0c0c0;
}

.login fieldset p input[type="checkbox"],
.registration fieldset p input[type="checkbox"] {
  transform: scale(1.4);
  margin-right: 5px;
  margin-top: 5px;
  width: auto;
}

.registration fieldset legend p .sexo {
  display: flex;
  justify-content: flex-start;
}

.registration fieldset p input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.registration fieldset p label[for="avatar"] {
  font-size: 20px;
  color: #676745;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  border-radius: 6px;
  margin: 30px 0px 20px 0px;
}

.registration fieldset p label[for="avatar"]:hover {
  background-color: #c0c0c0;
}

.link_hipervinculo {
  text-decoration: none;
  color: #304878;
}

.link_hipervinculo:hover {
  color: #c00000;
}

.oh {
  overflow: hidden;
}

.la {
  float: left;
}

.ra {
  float: right;
}

.fs-18 {
  font-size: 18px;
}

.mt-6 {
  margin-top: 6px;
}

.error-login,
.error-regist {
  font-size: 16px;
  color: #c00000;
  margin-top: -4px;
}

.error-login i,
.error-regist i {
  margin-right: 4px;
}

.error-usuario {
  font-size: 18px;
  color: #c00000;
  margin-top: 12px;
  margin-bottom: 6px;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#boton {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.registration {
  width: 100%;
}

.texto-registration {
  font-family: 'Roboto Condensed', serif;
  font-size: 16px;
  text-align: center;
  color: black;
}

#recordar {
  width: auto;
  margin-right: 4px;
  transform: scale(1.4);
}

.avatar_button {
  text-align: center;
}

/*EMPIEZA ACA: esto se agrega para que no se vea el texto que dice "debe subir el archivo" y el boton de examinar, pero no está funcionando*/
/*TERMINA ACA: esto se agrega para que no se vea el texto que dice "debe subir el archivo" y el boton de examinar, pero no está funcionando*/


.terminos {
  display: flex;
  justify-content: center;
  margin: 5px;
}
